{% extends 'base.html.twig' %}

{% block title %}New Location{% endblock %}

{% block body %}
    <h1>Create new Location</h1>

    {# {{ include('location/_form.html.twig') }} #}
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.lat, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.longitude, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group mt-3" data-controller='formpic'>
            <button class="btn btn-primary" data-action ='click->formpic#addPicForm' data-template='{{ form_widget(form.pictures.vars.prototype) }}' data-index='{{ form.pictures|length }}' type="button" id="">Ajouter une photo</button>
            <div data-formpic-target="formspic">
                {{ form_row(form.pictures, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <button class="btn btn-success mt-3">{{ button_label|default('Enregistrer le Lieu') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_location_index') }}">back to list</a>
{% endblock %}
