{% set route_name = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{path('app_front')}}">Accueil</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link {% if route_name == 'app_location_new' %}active{% endif %}" href="{{ path('app_location_new') }}">Nouveau lieu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if route_name == 'app_picture_new' %}active{% endif %}" href="{{ path('app_picture_new') }}">Nouvelle image</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                {% else %}    
                    <li class="nav-item">
                        <a class="nav-link {% if route_name == 'app_login' %}active{% endif %}" href="{{ path('app_login') }}">Login</a>
                    </li>
                {% endif %}
                {# <section data-controller="display">
                    <button data-action="display#clickButton">clic la dessus</button>
                    <p data-display-target="results">Ici ça change quand on click sur le bouton</p>
                </section> #}
                <li data-controller="search" class="nav-item">
                  <label for="search_box">Recherche</label>
                  <input type="text" class="form-control me-2" name="search_box" data-action="input->search#searching keydown.enter->search#send_search">
                  <ul data-search-target="search_results"> 
                  </ul>
                </li>
              {# <li class="nav-item">
                <a class="nav-link" href="{{path('app_static_page',{page:'presentation'})}}">Présentation</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
                <div class="dropdown-menu"> #}
                  {# <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div> #}
                  {# <a class="dropdown-item" href="{{path('app_categories_list')}}">Toute les catégories</a> 
                  {{ render(controller(
                      'App\\Controller\\FrontController::categoryListPart',
                      { 'max': 3 }
                  )) }}
                </div> 
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path('app_login')}}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path('app_logout')}}">Logout</a>
              </li>#}
            </ul>
            {# <form class="d-flex">
              <input class="form-control me-sm-2" type="search" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form> #}
          </div> 
        </div>
      </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>
